body {
  font-family: Helvetica, Arial, sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  color: #004FBD;
}

h3 {
  font-size: 16px;
  color: gray
}

p {
  color: gray;
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  background-color: #efefef;
  max-width: 980px;
}

.box {
  background-color: #ACCCF9;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  flex: 1 1 auto;
  padding: 20px;
  margin: 10px;
}

.box {
  flex: 1 1 auto;
  padding: 20px;
  margin: 10px;
}

/* ------------ header ------------ */

#mainHeader {
  display: inline-flex;
  flex-direction: column;
  padding: 10px 0;
}

#logoHeader {
  width: 150px;
  margin: 0 auto;
  padding-bottom: 30px;
}

#mainNav {
  width: 430px;
  height: 25px;
}

#mainNav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

#mainNav ul li {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  cursor: pointer;
  padding-left: 5px;
}

#mainNav ul li a {
  margin-left: 0 auto;
  color: #2073a8;
  padding: 5px;
  text-decoration: none;
  background-color: #ACCCF9;
  height: 20px;
  border-radius: 5px;
}

#mainNav ul li a:hover {
  padding: 5px;
  background-color: #ddeff7;
}

/* ------------ Main image ------------ */

.mainImage {
  height: 300px;
}

/* ------------ Sub Contents ------------ */

#subCon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  color: #fff;
}

#featuredCon {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  justify-content: space-evenly;
  color: #fff;
}

#featuredCon p {
  font-size: 18px;
  color: gray;
  text-align: center;
}

.ImageProd1, .ImageProd2, .ImageProd3 {
  height: 300px;
}

/* ------------ Footer ------------ */

.mainFooter {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 0 20px;
}

#footerContainer {
  max-width: 940px;
  display: inline-flex;
  flex-direction: row;
}

#logoFooter {
  width: 100px;
  padding-top: 10px;
  margin: 0 auto;
}

#footerNav {
  display: inline-block;
  flex-direction: row;
  width: 400px;
  height: 25px;
  margin: 0 auto;
}

#footerNav ul {
  list-style-type: none;
  padding: 0;
}

#footerNav ul li {
  font-size: 14px;
  display: inline;
  cursor: pointer;
  margin-left: 15px;
}

#footerNav ul li a {
  color: #2073a8;
  padding: 5px;
  text-decoration: none;
  background-color: #ACCCF9;
  height: 20px;
  border-radius: 5px;
}

#footerNav ul li a:hover {
  padding: 5px;
  background-color: #ddeff7;
}

#socMedia {
  width: 300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-gap: 10px;
  padding-left: 20px;
  padding-bottom: 30px;
}

.ig, .t, .fb, .pt {
  width: 50px;
}

.copyright {
  margin: auto;
  padding-top: 5px;
}

@media screen and (min-width: 600px) {

  #mainHeader {
    display: flex;
    flex-direction: row;
  }

  #logoHeader {
    width: 120px;
  }

  #mainNav {
    width: 450px;
    padding-top: 25px;
  }

  .box {
    background-color: lightgreen; #ACCCF9
  }

  .mainImage {
    margin-bottom: 10px;
  }

  #subCon {
    height: 200px;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
  }

  #featuredCon {
    display: flex;
    flex-direction: row;
  }

  #featuredConText{
    width: 500px;
  }

  .ImageProd1, .ImageProd2, .ImageProd3  {
    height: 130px;
    background-color: lightgreen;
  }

  #mainFooter {
    display: flex;
    flex-direction: row;
  }

  @media screen and (min-width: 1200px) {

    #mainHeader {
      display: flex;
      flex-direction: row;
      max-width: 960px
    }

    #logoHeader {
      width: 120px;
    }

    #mainNav {
      width: 800px;
      padding-top: 25px;
    }

    .box {
      background-color: lightblue;
    }

    .mainImage {
      margin-bottom: 10px;
    }

    #subCon {
      height: 200px;
      display: flex;
      flex-direction: row;
      padding-bottom: 10px;
    }

    #featuredCon {
      display: flex;
      flex-direction: column;
    }

    #featuredConText{
      width: 500px;
    }

    .ImageProd {
      display: flex;
      flex-direction: row;
    }

    .ImageProd1, .ImageProd2, .ImageProd3  {
      height: 130px;
      background-color: lightblue;
    }

    #mainFooter {
      display: flex;
      flex-direction: row;
    }
